_Basic/dotnet-caching-inside-out/2-dotnet-caching-inside-out-m2-inside-exercise-files/before/Sixeyed.CarValet.Api/Service References/ServiceAgents.Wcf.Content/ContentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Sixeyed.CarValet.Services/ContentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" />
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" minOccurs="0" name="GetItemsResult" nillable="true" type="q1:ArrayOfContentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>