_Basic/dotnet-caching-inside-out/10-dotnet-caching-inside-out-m10-performance-exercise-files/before/Sixeyed.CarValet.Api/Service References/ServiceAgents.Wcf.Vehicle/VehicleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Sixeyed.CarValet.Services/VehicleService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Sixeyed.CarValet.Services/VehicleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" />
  <xs:element name="SearchMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startsWith" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchMakesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startsWith" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchModelsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByMakeAndModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByMakeAndModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" minOccurs="0" name="GetByMakeAndModelResult" nillable="true" type="q3:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" minOccurs="0" name="GetByIdResult" nillable="true" type="q4:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>