_wpf/wpf-data-binding-in-depth/7-wpf-data-binding-in-depth-m6-exercise-files/after/DesignTimeSampleData/DesignTimeSampleData/SampleData/SampleCustomersDataSource/SampleCustomersDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleCustomersDataSource" targetNamespace="Expression.Blend.SampleData.SampleCustomersDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleCustomersDataSource" type="tns:SampleCustomersDataSource" />
  <xs:complexType name="SampleCustomersDataSource">
    <xs:sequence>
      <xs:element name="Customers" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CustomersItem" type="tns:CustomersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomersItem">
    <xs:attribute name="Id" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="FirstName" type="xs:string" />
    <xs:attribute name="LastName" type="xs:string" />
  </xs:complexType>
</xs:schema>