_Basic/dotnet-caching-inside-out/3-dotnet-caching-inside-out-m3-local-exercise-files/before/Sixeyed.CarValet.Api/Service References/ServiceAgents.Wcf.Content/ContentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sixeyed.CarValet.Services.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentItem" nillable="true" type="tns:ContentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentItem" nillable="true" type="tns:ArrayOfContentItem" />
  <xs:complexType name="ContentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="IsHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentItem" nillable="true" type="tns:ContentItem" />
</xs:schema>